@model IEnumerable<SchoolProject.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all classes</p>

<form action="/Class/List">
    <label for="searchKey">Class Name:</label>
    <input type="text" id="searchKey" name="searchKey">
    <input type="submit" value="Search">
</form>

<div id="containerlist">
    <h2>List of Classes</h2>
    @foreach (var classObj in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Class/Show/@classObj.classId">@classObj.className</a></div>
        </div>
    }
</div>
