@model IEnumerable<SchoolProject.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<nav>
    <a class="navlink" href="/Teacher/New">New Teacher</a>
</nav>

<h2>List</h2>
<p>This page should be showing information about all teachers</p>

<form action="/Teacher/List">
    <div>
        <label for="searchKey">Teacher Name:</label>
        <input type="text" id="searchKey" name="searchKey">
    </div>
    <div>
        <label>Salary Range:</label>
        <input type="number" id="minSalary" name="minSalary"> (thousands)
        to
        <input type="number" id="maxSalary" name="maxSalary"> (thousands)
    </div>
    <input type="submit" value="Search">
</form>

<div id="containerlist">
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.teacherId">@teacher.teacherFname @teacher.teacherLname</a></div>
        </div>
    }
</div>
