
@{
    ViewBag.Title = "New";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/newTeacher.js"></script>
}

<nav>
    <a class="navlink" href="/Teacher/List">Back To Teachers</a>
</nav>

<h2>New</h2>

<form method="POST" action="/Teacher/Create">
    <div>
        <label for="teacherFname">First Name</label>
        <input id="teacherFname" type="text" name="teacherFname" placeholder="John" />
    </div>
    <div>
        <label for="teacherLname">Last Name</label>
        <input id="teacherLname" type="text" name="teacherLname" placeholder="Doe"/>
    </div>
    <div>
        <label for="employeeNumber">Employee Number</label>
        <input id="employeeNumber" type="text" name="employeeNumber" placeholder="T123"/>
    </div>
    <div>
        <label for="salary">Salary</label>
        <input id="salary" type="text" name="salary" placeholder="12.34"/>
    </div>
    <div>
        <input id="submit-button" type="submit" value="Create Teacher" />
    </div>
</form>
