@model SchoolProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<a student="navlink" href="/Student/List">Back To Studentes</a>
<div id="containershow">
    <h2>@Model.studentFname @Model.studentLname </h2>

    <p> Student Number: @Model.studentNumber</p>
    <p> Enroll Date: @Model.enrollDate</p>

</div>
